<?xml version="1.0" encoding="UTF-8"?>
<menus>
	<menu>
		<id>0</id>
		<name>全部文件</name>
		<icon>el-icon-files</icon>
		<url><![CDATA[/main/fileall/index]]></url>
	</menu>
	<menu>
		<id>1</id>
		<name>文档</name>
		<icon>el-icon-document-copy</icon>
		<url><![CDATA[/main/filedocument/index]]></url>
	</menu>
	<menu>
		<id>2</id>
		<name>图片</name>
		<icon>el-icon-picture-outline</icon>
		<url><![CDATA[/main/filepicture/index]]></url>
	</menu>
	<menu>
		<id>3</id>
		<name>视频</name>
		<icon>el-icon-video-camera</icon>
		<url><![CDATA[/main/filevideo/index]]></url>
	</menu>
	<menu>
		<id>4</id>
		<name>音乐</name>
		<icon>el-icon-headset</icon>
		<url><![CDATA[/main/filemusic/index]]></url>
	</menu>
	<menu>
		<id>5</id>
		<name>其他</name>
		<icon>el-icon-s-promotion</icon>
		<url><![CDATA[/main/fileother/index]]></url>
	</menu>
	<menu>
		<id>6</id>
		<name>我的分享</name>
		<icon>el-icon-share</icon>
		<url><![CDATA[/main/sharebyself/index]]></url>
	</menu>
	<menu>
		<id>7</id>
		<name>好友分享</name>
		<icon>el-icon-link</icon>
		<url><![CDATA[/main/sharebyfriends/index]]></url>
	</menu>
	<menu>
		<id>8</id>
		<name>回收站</name>
		<icon>el-icon-delete</icon>
		<url><![CDATA[/main/rubbish/index]]></url>
	</menu>
</menus>